.city-header {
  background-color: #e5002b;
}
.city-header .logo-con {
  width: 100%;
  height: 110px;
  padding: 0px 0px;
}
.city-header .logo-con #mobile-menu {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 30px;
  top: 32px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  display: none;
}
.city-header .logo-con .logo img {
  width: 100%;
  height: 110px;
  object-fit: contain;
}
.city-header .logo-con .search {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  position: relative;
}
.city-header .logo-con .search input {
  width: 80%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 1px solid rgb(221, 221, 221);
  position: relative;
  padding: 0px 30px;
  font-size: 0.97em;
  vertical-align: middle;
  color: rgb(51, 51, 51);
}
.city-header .logo-con .search button {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 32.5px;
  right: 13%;
  background-color: #f0f7fd;
  border: none;
  outline: none;
  color: #6d6d6d;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 2px solid rgb(221, 221, 221);
}
.city-header .logo-con .wishlist ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px;
  height: 100%;
}
.city-header .logo-con .wishlist ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  text-align: center !important;
  padding: 5px 10px;
}
.city-header .logo-con .wishlist ul li:nth-child(1) {
  background-color: #bd0b2c;
  border-radius: 20px;
  margin-right: 10px;
}
.city-header .logo-con .wishlist ul li:nth-child(3) {
  background-color: #bd0b2c;
  border-radius: 20px;
  margin-left: 12px;
}
.city-header .logo-con .wishlist ul li:nth-child(2) {
  padding: 0px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.city-header .logo-con .wishlist ul li a {
  color: #fff;
  font-size: 21px;
}
.sub-sec {
  background-color: #bd0b2c;
  height: fit-content;
}
.container .subtitle .sub {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row wrap;
  margin: 0px;
  padding: 10px;
  width: 100%;
}
.container .subtitle .sub li {
  display: inline-block;
  list-style: none;
  line-height: 40px;
  width: auto;
}
.container .subtitle .sub li i {
  color: #fff;
  font-size: 18px;
}
.container .subtitle .sub li i:hover {
  color: black;
}
.container .subtitle .sub li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
/* windows dropdown */
.window-menu {
  display: none;
}
.window-menu .dropdown-menu1 {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 20px 0px;
  margin: 0px;
}
.window-menu .dropdown-menu1 .item {
  display: inline-block;
  width: 33%;
  height: 450px;
}
.window-menu .dropdown-menu1 .item1 {
  border-right: 1px solid #e1e1e1;
}
.window-menu .dropdown-menu1 .item1 ul li {
  list-style: none;
  width: 100%;
}
.window-menu .dropdown-menu1 .item1 ul li a {
  text-decoration: none;
  color: #000 !important;
  font-weight: 500;
  line-height: 40px;
}
.window-menu .dropdown-menu1 .item h5 {
  font-size: 16px;
  font-weight: 500;
}
.window-menu .dropdown-menu1 .item ul li {
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
  padding: 10px 0px;
}
.window-menu .dropdown-menu1 .item ul li a {
  text-decoration: none;
  color: #6d6d6d;
}
.window-menu .dropdown-menu1 .item2 .item2-1,
.window-menu .dropdown-menu1 .item2 .item2-2 {
  height: 50%;
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;
}
.window-menu .dropdown-menu1 .item3 .item3-1,
.window-menu .dropdown-menu1 .item3 .item3-2 {
  height: 50%;
  width: 100%;
  padding-left: 20px;
}
.mydropdown {
  display: block !important;
  color: #6d6d6d;
}
#togglebttn {
  background-color: transparent;
  border: none;
  outline: none;
}

@media (max-width: 850px) {
  .city-header .search {
    display: none !important;
  }
  .city-header .wishlist {
    display: none;
  }
  .sub-sec {
    display: none;
  }
  .city-header .logo-con .logo {
    width: 33%;
  }
  .city-header .logo-con .logo img {
    min-width: 150px;
    min-height: 60px;
  }
  .city-header .logo-con #mobile-menu {
    display: block;
  }
}

/* mobile menu */
.mobile-menu {
  display: none;
}
.mobile-menu .mobile {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 100vh;
  background-color: #f7f2f3;
  overflow: scroll;
}
.mobile-menu .mobile .mobile-search {
  margin-top: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
.mobile-menu .mobile .mobile-search input {
  width: 80%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 1px solid rgb(221, 221, 221);
  position: relative;
  padding: 0px 20px;
  font-size: 0.97em;
  vertical-align: middle;
  color: rgb(51, 51, 51);
  margin-left: 15px;
}
.mobile-menu .mobile .mobile-search button {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 40px;
  right: 10%;
  background-color: #f0f7fd;
  border: none;
  outline: none;
  color: #6d6d6d;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 2px solid rgb(221, 221, 221);
}
.mobile-menu .mobile ul {
  padding: 0px;
  margin: 0px;
  height: fit-content;
}
.mobile-menu .mobile ul li {
  line-height: 50px;
  list-style: none;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  transition: 0.3s ease-out;
}
.mobile-menu .mobile ul li:hover {
  background-color: #ebebeb;
  color: #000;
}
.mobile-menu .mobile ul li:hover a {
  color: #000;
}
.mobile-menu .mobile ul li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.mobile-menu .mobile .icon {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.mobile-menu .mobile .icon a {
  color: #666 !important;
  font-size: 24px;
  margin: 0px 5px;
}
.mobile-menu .mobile .icon a:hover {
  color: #000 !important;
}
#x-icon {
  display: none;
}
